.Company_7_2573 {
  background: var(--Neutral-100, #fff);
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.Header_7_2297 {
  background: var(--Color-combo-Celeste, #caffff);
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  display: flex;
}
.Frame_1_4_209 {
  align-items: center;
  gap: 110px;
  display: flex;
}
.Logo_4_200 {
  width: 105.572px;
  height: 32px;
}
.Frame_1_4_76 {
  align-items: center;
  gap: 24px;
  display: flex;
}
.Frame_1_4_70 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Research_4_11 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_67 {
  width: 18px;
  height: 18px;
}
.Frame_8_4_153 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Api_4_154 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_155 {
  width: 18px;
  height: 18px;
}
.Frame_9_4_158 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.ChatGpt_4_159 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_160 {
  width: 18px;
  height: 18px;
}
.Frame_6_4_143 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Safety_4_144 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_145 {
  width: 18px;
  height: 18px;
}
.Frame_7_4_148 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Company_4_149 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_150 {
  width: 18px;
  height: 18px;
}
.Frame_2_4_92 {
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  display: flex;
}
.Search_4_94 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_2_4_96 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Login_4_97 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_4_98 {
  width: 18px;
  height: 18px;
}
.Button_4_174 {
  border: 1px solid var(--Color-combo-Chololate, #833600);
  box-sizing: border-box;
  border-radius: 3.6px;
  align-items: center;
  gap: 2px;
  padding: 3px 10px 5px;
  display: flex;
}
.Button_4_118 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_4_119 {
  width: 18px;
  height: 18px;
}
.Section_01_7_2298 {
  background: var(--Color-combo-Celeste, #caffff);
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  width: 100%;
  padding: 180px 24px 48px;
  display: flex;
}
.Frame_1_7_2299 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.About_7_2300 {
  color: var(--Color-combo-Chololate, #833600);
  letter-spacing: -1.46px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  display: inline-block;
}
.OpenAiIsAnAiResearchAndDeploymentCompanyOurMissionIsToEnsureThatArtificialGeneralIntelligenceBenefitsAllOfHumanity_7_2301 {
  color: var(--Color-combo-Chololate, #833600);
  letter-spacing: -0.28px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.Image_7_2302 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 718px;
}
.Section_02_7_2353 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 952px;
  padding: 96px 24px;
  display: flex;
  overflow: hidden;
}
.Frame_1_7_2354 {
  border-top: 1px solid var(--Neutral-300, #333);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 13px 24px;
  display: flex;
}
.Frame_1_7_2355 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.OurVisionForTheFutureOfAgi_7_2356 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.OurMissionIsToEnsureThatArtificialGeneralIntelligenceAiSystemsThatAreGenerallySmarterThanHumansBenefitsAllOfHumanity_7_2357 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_7_2358 {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  display: flex;
}
.ReadOurPlanFroAgi_7_2359,
.ReadOurCharter_7_2360 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Image_7_2361 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  flex: 1 0 0;
  height: 734px;
}
.Section_03_7_2362 {
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  width: 100%;
  padding-bottom: 96px;
  display: flex;
}
.Frame_1_7_2363 {
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  width: 100%;
  padding: 0 24px;
  display: flex;
}
.Rectangle_22_7_2578 {
  background: var(--Neutral-400, #000);
  height: 1px;
}
.WeAreBuildingSafeAndBeneficialAgiButWillAlsoConsiderOurMissionFulfilledIfOurWorkAidsOthersToAchieveThisOutcome_7_2364 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.55px;
  font-family: Test Signifier;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  display: inline-block;
}
.Image_7_2368 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 1050px;
}
.Section_04_7_2369 {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  width: 100%;
  padding: 0 24px 120px;
  display: flex;
}
.Frame_3_7_2370 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 0 97px;
  display: flex;
}
.OurWork_7_2371 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.Frame_4_7_2373 {
  border-top: 1px solid var(--Neutral-200, #ccc);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 0 60px;
  display: flex;
}
.Research_7_2374 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.28px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
  display: inline-block;
}
.Frame_2_7_2393 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.WeResearchGenerativeModelsAndHowToAlignThemWithHumanValues_7_2375 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.LearnAboutOutResearch_7_2392 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Frame_1_7_2394 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_1_7_2395 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2396 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2397 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ForecastingPotentialMisusesOfLanguageModelsForDisinformationCampaignsAndHowToReduceRisk_7_2398 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jan_11_2023_7_2399 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_11_7_2400 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2401 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2402 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.BestPracticesForDeployingLanguageModels_7_2403 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jun_2_2022_7_2404 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_12_7_2405 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2406 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2407 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.LessonsLearnedOnLanguageModelSafetyAndMisuse_7_2408 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Mar_3_2022_7_2409 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_13_7_2410 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2411 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2412 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.WhyResponsibleAiDevelopmentNeedsCooperationOnSafety_7_2413 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jul_10_2019_7_2414 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Section_05_7_2415 {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  width: 100%;
  padding: 0 24px 120px;
  display: flex;
}
.Frame_4_7_2418 {
  border-top: 1px solid var(--Neutral-200, #ccc);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 0 60px;
  display: flex;
}
.Products_7_2419 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.28px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.6px;
  display: inline-block;
}
.Frame_2_7_2420 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.OurApiPlatformOffersOurLatestModelsAndGuidesForSafetyBestPractices_7_2421 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ExploreOurProducts_7_2422 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Frame_1_7_2423 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_1_7_2424 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2425 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2426 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ForecastingPotentialMisusesOfLanguageModelsForDisinformationCampaignsAndHowToReduceRisk_7_2427 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jan_11_2023_7_2428 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_11_7_2429 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2430 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2431 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.BestPracticesForDeployingLanguageModels_7_2432 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jun_2_2022_7_2433 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_12_7_2434 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2435 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2436 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.LessonsLearnedOnLanguageModelSafetyAndMisuse_7_2437 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Mar_3_2022_7_2438 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_13_7_2439 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_2440 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_2441 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.WhyResponsibleAiDevelopmentNeedsCooperationOnSafety_7_2442 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jul_10_2019_7_2443 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Section_06_7_2444 {
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  padding: 104px 0 110px;
  display: flex;
}
.Frame_2_7_2580 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 0 24px;
  display: flex;
}
.Frame_1_7_2445 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 24px;
  display: flex;
}
.CareersAtOpenAi_7_2446 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.Frame_2_7_2470 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.DevelopingSafeAndBeneficialAiRequiresPeopleFromAWideRangeOfDisciplinesAndBackgrounds_7_2447 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.28px;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.ViewCareers_7_2469 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Image_7_2471 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 900px;
}
.Section_07_7_2472 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 0 24px 96px;
  display: flex;
}
.Frame_1_7_2473 {
  border-top: 1px solid var(--Neutral-300, #333);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 13px 24px;
  display: flex;
}
.Frame_1_7_2474 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.OurStructure_7_2475 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.WeAreGovernedByANonprofitAndOurUniqueCappedProfitModelDrivesOurCommitmentToSafetyThisMeansThatAsAiBecomesMorePowerfulWeCanRedistributeProfitsFromOurWorkToMaximizeTheSocialAndEconomicBenefitsOfAiTechnology_7_2476 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_7_2477 {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  display: flex;
}
.ReadAboutOpenAi_7_2478,
.ReadAboutOurStructure_7_2479 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Image_7_2480 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  flex: 1 0 0;
  height: 734px;
}
.Section_08_7_2481 {
  flex-direction: column;
  align-items: flex-start;
  gap: 97px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_14_7_2482 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 0;
  display: flex;
}
.JoinUsInShapingTheFutureOfTechnology_7_2483 {
  color: var(--Neutral-400, #000);
  letter-spacing: -1.46px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: 80.3px;
  display: inline-block;
}
.ButtonLarge_7_2484 {
  border: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  border-radius: 5.6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 29px 16px 31px;
  display: flex;
}
.Button_5_235 {
  color: var(--Neutral-400, #000);
  text-align: center;
  letter-spacing: -0.28px;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.Footer_7_2485 {
  background: var(--Color-combo-Celeste, #caffff);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.Frame_1_5_290 {
  flex-direction: column;
  align-items: flex-start;
  gap: 256px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_1_5_261 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_16_5_271 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 435px;
  height: 32px;
  display: flex;
  overflow: hidden;
}
.Logo_5_262 {
  width: 105.572px;
  height: 32px;
}
.Frame_1_5_248 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Research_5_245 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_246,
.Index_5_247,
.Gpt_4_5_298,
.DallE_3_5_299 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_2_5_249 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Api_5_250 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_251,
.DataPrivacy_5_252,
.Pricing_5_303 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_310 {
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  display: flex;
}
.Docs_5_304 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_5_306 {
  width: 18px;
  height: 18px;
}
.Frame_3_5_253 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ChatGpt_5_254 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_255,
.Enterprise_5_256 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_312 {
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  display: flex;
}
.TryChatGpt_5_313 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_5_314 {
  width: 18px;
  height: 18px;
}
.Frame_4_5_257 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Company_5_258 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.About_5_259,
.Blog_5_260,
.Careers_5_320,
.Charter_5_321,
.Security_5_322,
.CustomerStories_5_323,
.Safety_5_325 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_289 {
  border-top: 1px solid var(--Color-combo-Chololate, #833600);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 9px 0;
  display: flex;
}
.Frame_2_5_272 {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 435px;
  display: flex;
}
.OpenAi_2015_2023_5_273 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.TermsPolicies_5_274,
.PrivacyPolicy_5_275,
.BrandGuidelines_5_296 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_288 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 53px;
  width: 100%;
  display: flex;
}
.Frame_1_5_278 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Twitter_5_276,
.Youtube_5_277,
.GitHub_5_279,
.SoundCloud_5_280,
.LinkedIn_5_281 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_3_5_283 {
  align-items: center;
  gap: 2px;
  width: 100%;
  display: flex;
}
.BackToTop_5_284 {
  color: var(--Color-combo-Chololate, #833600);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUp_5_285 {
  width: 18px;
  height: 18px;
}
.Group_1_7_1123 {
  height: 520px;
}
