.Safety_7_1099 {
  background: var(--Neutral-100, #fff);
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.Header_7_1048 {
  background: var(--Color-combo-Midnight-green, #005454);
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  display: flex;
}
.Frame_1_4_209 {
  align-items: center;
  gap: 110px;
  display: flex;
}
.Logo_4_200 {
  width: 105.572px;
  height: 32px;
}
.Frame_1_4_76 {
  align-items: center;
  gap: 24px;
  display: flex;
}
.Frame_1_4_70 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Research_4_11 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_67 {
  width: 18px;
  height: 18px;
}
.Frame_8_4_153 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Api_4_154 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_155 {
  width: 18px;
  height: 18px;
}
.Frame_9_4_158 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.ChatGpt_4_159 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_160 {
  width: 18px;
  height: 18px;
}
.Frame_6_4_143 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Safety_4_144 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_145 {
  width: 18px;
  height: 18px;
}
.Frame_7_4_148 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Company_4_149 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.CaretDown_4_150 {
  width: 18px;
  height: 18px;
}
.Frame_2_4_92 {
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  display: flex;
}
.Search_4_94 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_2_4_96 {
  align-items: center;
  gap: 2px;
  display: flex;
}
.Login_4_97 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_4_98 {
  width: 18px;
  height: 18px;
}
.Button_4_174 {
  border: 1px solid var(--Color-combo-Sunset, #ffc98a);
  box-sizing: border-box;
  border-radius: 3.6px;
  align-items: center;
  gap: 2px;
  padding: 3px 10px 5px;
  display: flex;
}
.Button_4_118 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_4_119 {
  width: 18px;
  height: 18px;
}
.Section_01_7_818 {
  background: var(--Color-combo-Midnight-green, #005454);
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  width: 100%;
  padding: 180px 24px 48px;
  display: flex;
}
.Frame_1_7_819 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.DevelopingSafeResponsibleAi_7_820 {
  color: var(--Color-combo-Sunset, #ffc98a);
  letter-spacing: -1.46px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  display: inline-block;
}
.ArtificialGeneralIntelligenceHasThePotentialToBenefitNearlyEveryAspectOfOurLivesSoItMustBeDevelopedAndDeployedResponsibly_7_822 {
  color: var(--Color-combo-Sunset, #ffc98a);
  letter-spacing: -0.28px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.Image_7_826 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 678px;
}
.Section_02_7_831 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_1_7_832 {
  border-top: 1px solid var(--Neutral-200, #ccc);
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 13px 0;
  display: flex;
}
.AiSystemsAreBecomingAPartOfEverydayLifeTheKeyIsToEnsureThatTheseMachinesAreAlignedWithHumanIntentionsAndValues_7_833 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.55px;
  font-family: Test Signifier;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  display: inline-block;
}
.Frame_1_7_834 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.MiraMurati_7_835 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.ChiefTechnologyOfficerAtOpenAi_7_836 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Section_03_7_837 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 856px;
  padding: 0 24px 96px;
  display: flex;
  overflow: hidden;
}
.Frame_1_7_838 {
  border-top: 1px solid var(--Neutral-300, #333);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 13px 24px;
  display: flex;
}
.Frame_1_7_839 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.AFocusOnSafety_7_840 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.AiTechnologyComesWithTremendousBenefitsAlongWithSeriousRiskOfMisuseOurCharterGuidesEveryAspectOfOurWorkToEnsureThatWePrioritizeTheDevelopmentOfSafeAndBeneficialAi_7_845 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_7_841 {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  display: flex;
}
.ReadOurCharter_7_842,
.ReadOurApproachToAlignmentResearch_7_846 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Image_7_844 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  flex: 1 0 0;
  height: 734px;
}
.Section_04_7_847 {
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  padding: 104px 24px 110px;
  display: flex;
}
.Frame_1_7_848 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 0;
  display: flex;
}
.SharingOurExpertise_7_849 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.WeCollaborateWithIndustryLeadersAndPolicymakersToEnsureThatAiSystemsAreDevelopedInATrustworthyManner_7_851 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.28px;
  flex: 1 0 0;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.Frame_1_7_853 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_1_7_854 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_855 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_856 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ForecastingPotentialMisusesOfLanguageModelsForDisinformationCampaignsAndHowToReduceRisk_7_857 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jan_11_2023_7_858 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_11_7_859 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_860 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_861 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.BestPracticesForDeployingLanguageModels_7_862 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jun_2_2022_7_863 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_12_7_864 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_865 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_866 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.LessonsLearnedOnLanguageModelSafetyAndMisuse_7_867 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Mar_3_2022_7_868 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_13_7_869 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_870 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 317px;
}
.Frame_1_7_871 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.WhyResponsibleAiDevelopmentNeedsCooperationOnSafety_7_872 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jul_10_2019_7_873 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Section_05_7_874 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_1_7_875 {
  border-top: 1px solid var(--Neutral-200, #ccc);
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 13px 0;
  display: flex;
}
.ThisTechnologyWillProfoundlyTransformHowWeLiveThereIsStillTimeToGuideItsTrajectoryLimitAbuseAndSecureTheMostBroadlyBeneficialOutcomes_7_876 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.55px;
  font-family: Test Signifier;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  display: inline-block;
}
.Frame_1_7_877 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
}
.AnnaMakanju_7_878 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.HeadOfPublicPolicyAtOpenAi_7_879 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Image_7_880 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 961px;
}
.Section_06_7_881 {
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  width: 100%;
  padding: 0 24px 120px;
  display: flex;
}
.Frame_1_7_901 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 13px 0 60px;
  display: flex;
}
.SafetyInPracticet_7_902 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.96px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52.8px;
  display: inline-block;
}
.Frame_1_7_905 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.WeDevelopRiskMitigationToolsBestPracticesForResponsibleUseAndMonitorOurPlatformsForMisuse_7_903 {
  color: var(--Neutral-400, #000);
  letter-spacing: -0.28px;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.ViewProductSafetyStandards_7_904 {
  color: var(--Neutral-400, #000);
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  display: inline-block;
}
.Frame_5_7_885 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_1_7_886 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_887 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 434px;
}
.Frame_1_7_888 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.NewAiClassifierForIndicatingAiWrittenText_7_889 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jan_31_2023_7_890 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_13_7_891 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_892 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 434px;
}
.Frame_1_7_893 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.NewAndImprovedContentModerationTooling_7_894 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Aug_10_2022_7_895 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_14_7_896 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  display: flex;
}
.Image_7_897 {
  background: #d3d3d3 url(https://res.cloudinary.com/dljmf7bk8/image/upload/f_jpg/fl_lossy/w_1200/dpr_auto/q_70/v1703098350/Open_AI_1_4c36b218f6.jpg) 50% / cover no-repeat;
  height: 434px;
}
.Frame_1_7_898 {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.DallE_2PreTrainingMitigations_7_899 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Jun_28_2022_7_900 {
  color: var(--Neutral-400, #000);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Section_07_7_906 {
  flex-direction: column;
  align-items: flex-start;
  gap: 97px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_14_7_907 {
  border-top: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 0;
  display: flex;
}
.JoinUsInShapingTheFutureOfTechnology_7_908 {
  color: var(--Neutral-400, #000);
  letter-spacing: -1.46px;
  flex: 1 0 0;
  font-family: Test Signifier;
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: 80.3px;
  display: inline-block;
}
.ButtonLarge_7_909 {
  border: 1px solid var(--Neutral-400, #000);
  box-sizing: border-box;
  border-radius: 5.6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 29px 16px 31px;
  display: flex;
}
.Button_5_235 {
  color: var(--Neutral-400, #000);
  text-align: center;
  letter-spacing: -0.28px;
  font-family: Test Söhne;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  display: inline-block;
}
.Footer_7_911 {
  background: var(--Color-combo-Midnight-green, #005454);
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.Frame_1_5_290 {
  flex-direction: column;
  align-items: flex-start;
  gap: 256px;
  width: 100%;
  padding: 96px 24px;
  display: flex;
}
.Frame_1_5_261 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Frame_16_5_271 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 435px;
  height: 32px;
  display: flex;
  overflow: hidden;
}
.Logo_5_262 {
  width: 105.572px;
  height: 32px;
}
.Frame_1_5_248 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Research_5_245 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_246,
.Index_5_247,
.Gpt_4_5_298,
.DallE_3_5_299 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_2_5_249 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Api_5_250 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_251,
.DataPrivacy_5_252,
.Pricing_5_303 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_310 {
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  display: flex;
}
.Docs_5_304 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_5_306 {
  width: 18px;
  height: 18px;
}
.Frame_3_5_253 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.ChatGpt_5_254 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.Overview_5_255,
.Enterprise_5_256 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_312 {
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  display: flex;
}
.TryChatGpt_5_313 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUpRight_5_314 {
  width: 18px;
  height: 18px;
}
.Frame_4_5_257 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  display: flex;
}
.Company_5_258 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.About_5_259,
.Blog_5_260,
.Careers_5_320,
.Charter_5_321,
.Security_5_322,
.CustomerStories_5_323,
.Safety_5_325 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_289 {
  border-top: 1px solid var(--Color-combo-Sunset, #ffc98a);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 9px 0;
  display: flex;
}
.Frame_2_5_272 {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 435px;
  display: flex;
}
.OpenAi_2015_2023_5_273 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
  display: inline-block;
}
.TermsPolicies_5_274,
.PrivacyPolicy_5_275,
.BrandGuidelines_5_296 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_1_5_288 {
  flex-direction: column;
  flex: 1 0 0;
  align-items: flex-start;
  gap: 53px;
  width: 100%;
  display: flex;
}
.Frame_1_5_278 {
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  display: flex;
}
.Twitter_5_276,
.Youtube_5_277,
.GitHub_5_279,
.SoundCloud_5_280,
.LinkedIn_5_281 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.Frame_3_5_283 {
  align-items: center;
  gap: 2px;
  width: 100%;
  display: flex;
}
.BackToTop_5_284 {
  color: var(--Color-combo-Sunset, #ffc98a);
  font-family: Test Söhne;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  display: inline-block;
}
.ArrowUp_5_285 {
  width: 18px;
  height: 18px;
}
.Group_1_7_1123 {
  height: 520px;
}
