.hero {
  width: 100%;
  padding: 4rem 7%;
  padding-top: 6rem;
  min-height: 100vh;

  background-color: #010915;
  opacity: 1;
  background-image: radial-gradient(#ffffff21 0.5px, #010915 0.5px);
  background-size: 10px 10px;
  /* background-color: #e5e5f7; */
  opacity: 1;
  /* background-image: radial-gradient(#ffffff21 0.5px, transparent 0.5px), radial-gradient(#ffffff3b 0.5px, #010915 0.5px); */
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.hero h1 {
  font-size: 25px;
  font-family: "Goudy Bookletter 1911", serif;
  text-align: center;
  color: #e1bbfb; /* highlight color */
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero h5 {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 300;
  color: white;
  margin: 0;
  font-size: 15px;
}
.mini_title {
  font-weight: 700 !important;
}
.major_title {
  font-size: 17px !important;
  font-weight: 700 !important;
}
.form_con {
  width: 60%;
  margin: auto;
}
.abc_ol {
  list-style-type: circle !important;
}
ol {
  margin: 0;
  margin-top: 2px;
}
.hero a {
  color: #e1bbfb;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .form_con {
    width: 80%;
  }
  .hero h5 {
    font-size: 13.5px;
  }
  .major_title {
    font-size: 15px !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .form_con {
    width: 75%;
  }
  .hero h5 {
    font-size: 14px;
  }
  .major_title {
    font-size: 16px !important;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .form_con {
    width: 70%;
  }
}
